<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Admin - Listado discos</title>
	<link rel="stylesheet" href="../css/admin/disk.css">
</head>

<body>


	<div th:insert="fragments/general.html :: menu"></div>

	<a href="registrarDisco" th:text="#{admin.registarDiscos}"></a>
	<br>
	<form action="obtenerDiscos">
		<span th:text="#{admin.buscador}"></span>
		<input type="text" name="nombre" th:value="${nombre}"></input>
		<input type="submit" value="Buscar">
	</form>
	<br>


	<p th:text="#{admin.listadoDiscos}"></p>

	<div>
		<a th:if="${ anterior >= 0 }"
			th:text="#{admin.anterior}"
			th:href="@{${ 'obtenerDiscos?comienzo=' + anterior + '&nombre=' + nombre }}"></a>
		<div>
			<span th:text="#{admin.totalResultados}"></span> <span th:text="${total}">
		</div>
		<a th:if="${ siguiente < total }"
			th:text="#{admin.siguiente}"
			th:href="@{${ 'obtenerDiscos?comienzo=' + siguiente + '&nombre=' + nombre }}"></a>
	</div>

	<div th:each="disco : ${discos}" style="margin: 15px;">
		<div id="disk-container">
			<img
				height="80px"
				th:src="@{${ '../mostrar_imagen?id=' + disco.id }}"
				alt="albumCover"
			/>
			<div id="disk-info">
				<div>
					<span id="disk-title" th:text="#{admin.nombre}"></span>
					<span th:text="${disco.nombre}"></span>
				</div>
				<div>
					<span id="disk-title" th:text="#{admin.artista}"></span>
					<span th:text="${disco.artista}"></span>
				</div>
				<div>
					<span id="disk-title" th:text="#{admin.Discografica}"></span>
					<span th:text="${disco.discografica}"></span>
				</div>
				<div>
					<span id="disk-title" th:text="#{admin.ano}"></span>
					<span th:text="${disco.ano}"></span>
				</div>
				<div>
					<span id="disk-title" th:text="#{admin.precio}"></span>
					<span th:text="${disco.precio}"></span>
				</div>
				<div>
					<span id="disk-title" th:text="#{admin.genero}"></span>
					<span th:text="${disco.genero.nombre}"></span>
				</div>
			</div>
			<div id="disk-links">
				<a
					th:text="#{admin.borrar}"
					th:href="@{${'borrarDisco?id='+ disco.id}}"
					onclick="return confirm('¿seguro?')"
				></a>
				<a
					th:text="#{admin.modificar}"
					th:href="@{${'editarDisco?id='+ disco.id}}"
				></a>
			</div>
		</div>
	</div>

	<div th:if="${#lists.isEmpty(discos)}">
		<h3  th:text="#{admin.busquedaError}"></h3>
	</div>


</body>

</html>