<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Admin - Listado discos</title>
</head>

<body>


	<div th:insert="fragments/general.html :: menu"></div>

	<a href="registrarDisco">Registar disco nuevo</a>
	<br>
	Buscador:
	<form action="obtenerDiscos">
		titulo: <input type="text" name="nombre" th:value="${nombre}"></input>
		<input type="submit" value="Buscar">
	</form>
	<br>


	<p>Listado de los discos:</p>

	<div>
		<a th:if="${ anterior >= 0 }" 
			th:href="@{${ 'obtenerDiscos?comienzo=' + anterior + '&titulo=' + titulo }}">Anteriror</a>
		<div>
			Total de resultados: <span th:text="${total}">
		</div>
		<a th:if="${ siguiente < total }"
			th:href="@{#{'obtenerDiscos?comienzo=' + siguiente + '&titulo=' + titulo }}">Siguiente</a>
	</div>

	<div th:each="disco : ${discos}" style="margin: 15px;">
		Nombre: <span th:text="${disco.nombre}"></span> <br>
		Artista: <span th:text="${disco.artista}"></span> <br>
		Discográfica: <span th:text="${disco.discografica}"></span>
		Año: <span th:text="${disco.ano}"></span>
		Precio: <span th:text="${disco.precio}"></span>
		Genero: <span th:text="${disco.genero.nombre}"></span> <br>
		Portada: <br>
		<img height="80px" th:src="@{${'../mostrar_imagen?id='+ disco.id}}" alt="albumCover" /><br>
		<a th:href="@{${'borrarDisco?id='+ disco.id}}" onclick="return confirm('¿seguro?')">borrar</a>
		<a th:href="@{${'editarDisco?id='+ disco.id}}">modificar</a>
	</div>

	<div th:if="${#lists.isEmpty(discos)}">
		<h3>No se han encontrado discos con ese nombre</h3>
	</div>


</body>

</html>