<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin - Genero editar</title>
	</head>
	<body>
		<div th:insert="fragments/general.html :: menu"></div>

		Editar los datos del genero:<br />

		<form
			action="#"
			th:action="guardarCambiosGenero"
			th:object="${generoEditar}"
			method="post"
			enctype="multipart/form-data"
		>
			<span>Nombre:</span>
			<input type="text" th:field="*{nombre}" /> <br />
			<input type="hidden" th:field="*{id}" />
			<input type="submit" value="Guardar cambios del genero" />
		</form>
	</body>
</html>
