body {
	font-family: "Roboto", sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	background-color: black;
	box-sizing: border-box;
}

#search_form {
	display: flex;
	flex-direction: column;
	margin: 2em 0px;
}

#nombre_buscador {
	margin: 0 auto;
	width: 80%;
	padding: 1em 10px;
	max-width: 1000px;
	font-size: 1.3em;
	border-radius: 5px;
}

details {
	border: 1px solid #ccc;
	padding: 1em;
	border-radius: 5px;
	width: 80%;
	margin: 2em auto;
	max-width: 1000px;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

#filters-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2em 0px 1em 0px;
	gap: 2em;
}

#filters-price-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#filters-price-container input {
	width: 100%;
}

#filters-price-container p {
	margin: 0;
}
