<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title>Insert title here</title>
	</head>
	<body>
		<div th:fragment="menu">
			<link rel="stylesheet" href="../css/admin/header.css">
			<div>
				<a href="../" th:text="#{admin.volverCliente}"></a>
			</div>
			<div>
				<div id="menu-topContainer">
					<div id="menu-title">
						<div th:text="#{admin.tituloPrincipal}"></div>
					</div>
					<div id="menu-language">
						<span th:text="#{admin.cambiaridoma}"></span>
						<a href="?idioma=es">🇪🇸</a>
						<a href="?idioma=en">🇬🇧</a>
					</div>
				</div>
				<div id="menu-links">
					<a
						href="obtenerDiscos"
						th:text="#{admin.gestionarDiscos}"
					></a>
					<a
						href="obtenerGeneros"
						th:text="#{admin.gestionarGeneros}"
					></a>
					<a
						href="obtenerUsuarios"
						th:text="#{admin.gestionarUsuarios}"
					></a>
					<a
						href="obtenerPedidos"
						th:text="#{admin.gestionarPedidos}"
					></a>
					<a href="../logoutAdmin" th:text="#{admin.logout}"></a>
				</div>
			</div>
		</div>
	</body>
</html>
