<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="menu">
	<div>
		<a href="../">Volver a la parte de cliente</a>
	</div>
	<div>
		<div style="text-align: center; font-size: 2em; background-color: lightgoldenrodyellow;">
			BIENVENIDO A LA PARTE DE ADMINISTRACION DE LA TIENDA
		</div>
	</div>
	<div style="text-align: center;">
		<a href="obtenerDiscos">Gestionar discos</a>
		<a href="">Gestionar Generos</a>
		<a href="">Gestionar usuarios</a>
		<a href="obtenerPedidos">Gestionar pedidos</a>
	</div>
</div>

</body>
</html>