body {
	font-family: "Roboto", sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#title {
	background-color: #000;
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
	display: flex;
	justify-content: start;
	align-items: center;
}
#title img {
	width: 7em;
	height: auto;
	margin-right: 1em;
	box-shadow: -10px -10px 3em blue;
}

#data {
	padding: 1em;
	background-color: #121212;
	width: 100%;
	height: 100%;
}

#spacer {
	height: 3em;
	width: 100%;
	background-image: linear-gradient(0deg, #121212, #000);
}

#price {
	color: #00ff00;
}