.carrusel-img {
	width: 100%;
	height: auto;
	behavior: smooth;
}

.fade-out {
	animation: fadeOut 1s ease-in-out;
}

.fade-in {
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#inicioButtons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2em 0px;
	width: 100%;
	align-items: center;
}


#GoToDiscos{
	display: flex;
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	background-color: rgb(255, 156, 118);
	border-radius: 5px;
	padding: 2em 5em;
}

#inicioRegistrarme{
	display: flex;
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	background-color: lightblue;
	border-radius: 5px;
	padding: 2em 5em;
}